
.home h1{
    font-family: 'Bevan', cursive;
    color: black;
    font-size: 500%;
    text-shadow: 3px 3px rgb(0, 0, 0, 0.5);
    letter-spacing: 3px;;
    padding-top: 13%;
}

.box1{
    width: 60%;
    height: 100%;
    /* background-color: rgba(30, 182, 80, 0.97); */
    margin-left: 20%;
    border: 1px solid black;
    box-shadow: 0 15px 20px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top right, #0d7544 0%, #c7f8c0 100%);
}

.button{
    background-color: white;
    border-radius: 5px;
}

/* 03-Nov
h2 {
    font-family: 'Bevan', cursive;
    color: black;
    font-size: 500%;
    text-shadow: 5px 5px rgb(0, 0, 0, 0.5);
    letter-spacing: 3px;;
    padding-top: 13%;
} */