.App{
    /* background-color: coral; */
    background-image: url('/public/money_wallpaper.png')  repeat center center fixed;
}

.home h1{
    font-family: 'Paytone One', sans-serif;
    font-weight: 900;
    color:#222;
    font-size: 600%;
    text-shadow: 4px 4px rgb(0, 0, 0, 0.5);
    letter-spacing: 3px;
    margin-left: 6%;
    padding-top: 10%;
}

.box1{
width: 65%;
height: 100%;
background: linear-gradient(to bottom, #20D1BD 10%, #ff99cc 110%);
box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.25);
border: 2px solid black;
margin-left: 15%;
margin-top: 2%;
padding: 5%;
}


.button{
    background-color: white;
    border-radius: 5px;
}


