.homeApp{ 
    background: rgb(255, 196, 243);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header{
    padding-top:10%;
   	font-family: 'Open Sans', sans-serif;
    font-size :60px;
    color: whitesmoke;
    background: rgb(255, 196, 243);
}
.quoteBox {
    background-color: black;
    margin: 25px auto;
    min-height: 100px; 
    width: 85%;  
    display: flex; 
    flex-direction: column;
    align-items: center; 
    display: -ms-flex; 
    -ms-flex-direction: column; 
    -ms-align-items: center; 
}

#quoteTxt {
    /*We might have to change the font-family for this one */
    font-family: 'Pacifico', cursive;
    font-size :30px;	    	    
    color: rgb(255, 196, 243);
}

#author {
    margin-top: 5%;
    font-family: 'Pacifico', cursive;
    display: block;
    font-size: 20px; 
    color: #BDB76B;
    background: black;	    
    float:right;
    margin-left:70%;
}

button{
    margin-bottom: 15px;
    border: none;	  
    color: #fff;	  
    background: rgb(4, 177, 39);
    padding: 10px;	  
    border-radius: 25px;	  
    outline: none; 	
}

button:hover{
    color: rgb(4, 177, 39);
    background:#fff; 
}	

#butn{
    margin-right: 300px;
  padding:10px;
    float:left;
    
}

.App-bg{
background: rgb(255, 196, 243);
background: url('./finance.png')  repeat center center fixed;
height: 70%;
position: static; 
width: 100%;
}


.Quotes{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
  }


