.homeApp{ 
    background: linear-gradient(to bottom, #20D1BD 10%, #ff99cc 110%);
    padding-top: 10%;
    padding-bottom: 10%;
}    
.App{
    background-color: coral;
}

.createApp{ 
    background: linear-gradient(to bottom, #20D1BD 10%, #ff99cc 110%);

}

.container .box1{
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5;
}

.create_acount_form h2{
    margin-right: 12%;
}

.create .box1{
    margin-top: 5%;
    padding-top: 8%;
    padding-bottom: 8;
}

.homeApp h1{
    font-family: 'Paytone One', sans-serif;
    font-weight: 900;
    color:#222;
    font-size: 600%;
    text-shadow: 4px 4px rgb(0, 0, 0, 0.5);
    letter-spacing: 3px;
}

.create h1 {
    font-family: 'Paytone One', sans-serif;
    font-weight: 900;
    color:#222;
    font-size: 600%;
    text-shadow: 4px 4px rgb(0, 0, 0, 0.5);
    letter-spacing: 3px; 
    margin-left: 5%;
}

.quoteBox {
    background-color: rgba(0, 0, 0, 0.5);  
    opacity: 0.90;
    margin: 25px auto;
    min-height:20%;
    width: 85%;  
    display: flex; 
    flex-direction: column;
    align-items: center; 
    display: -ms-flex; 
    -ms-flex-direction: column; 
    -ms-align-items: center; 
    box-shadow: 0 5px 5px 5px #20D1BD;
    /* border-top: 1px solid #fff; */
}

#quoteTxt {
    /*We might have to change the font-family for this one */
    font-family: 'Satisfy', cursive;
    font-size :30px;	    	    
    color: #90f73b;
    margin-top: 5%;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

#author {
    margin-top: 5%;
    font-family: 'Satisfy', cursive;
    display: block;
    font-size: 20px; 
    color: rgb(23, 148, 133);    
    float:right;
    margin-left:75%;
}

button{
    margin-bottom: 50%;
    margin-left: 25%;
    border: none;	  
    color: #fff;	  
    background: #20D1BD;
    padding: 10px;	  
    border-radius: 25px;	  
    outline: none;
    box-shadow: 0 3px 3px 3px rgba(255, 255, 255, 0.37);
    /* float:right; 	 */

}

button:hover{
    color: black;
    background:  #eef73b;
    font-size:1.5em;    
}	

#btn{
  margin-right: 300px;
  padding:10px;
  font-size: 110%;
  /* float:left; */
    
}
#btnLogin {
    float:right;
}
#btnQuote{
    color: #20D1BD;
}
.btnBox{
    margin-bottom:20px;
}

.Quotes{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
  }

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size:20px;
  
}

.form .grid .button{
    border: none;	  
    color: #fff;	  
    background: #20D1BD;
    padding: 10px;	  
    border-radius: 25px;	  
    outline: none;
    box-shadow: 0 3px 3px 3px rgba(255, 255, 255, 0.37);
}

.form .grid .button:hover  {
    color: black;
    background:  #eef73b;
    font-size:1.25em;
    box-shadow: 0 3px 3px 3px rgba(255, 255, 255, 0.37);

}

.grid a{
    color: black;
    font-size: 15px;
    padding: 5px;
    background-color: #20D1BD;
    border-radius: 25px;
    box-shadow: 0 3px 3px 3px rgba(255, 255, 255, 0.37);
}